
@{
    ViewBag.Title = "laCarta";
}

<h2>  LA CARTA</h2>
<br />
<br />
<h3>   Plato Principal </h3>
<br />

<div align="center">
    <div class="col-md-11">
        <img src="~/Content/imagenes/asadohorno.jpg" width="1025" height="250 "><br />
    </div>
</div>

<div class="row" aling="center">
    <div class="col-md-11">
        <button class="btn btn-lg btn-block btn-default"  >@Html.ActionLink("Mila con guarnicion", "guarnicion", "Home")</button>
        <button class="btn btn-lg btn-block btn-default" > Suprema con Guarnicion @Html.ActionLink("Suprema con guarnicion", "guarnicion", "Home") </button>
        <button class="btn btn-lg btn-block btn-default"> Filet de merlusa con guarnicion @Html.ActionLink("Filet de merluza con guarnicion", "guarnicion", "Home")</button>
        <button class="btn btn-lg btn-block btn-default"> Vacio al horno con guarnicion @Html.ActionLink("Vacio al horno con guarnicion", "guarnicion", "Home")</button>
        <button class="btn btn-lg btn-block btn-default"> Pollo  a la sal con guarniion @Html.ActionLink("Pollo a la sal con guarnicion", "guarnicion", "Home")</button>
        <button class="btn btn-lg btn-block btn-default" > Pastas con Salsas varias </button>
        <button class="btn btn-lg btn-block btn-default"> Postres </button>
        <button class="btn btn-lg btn-block btn-default"> Otros Gustitos </button>

    </div>
</div>



<h3>    Postre</h3>
<br />
<div align="center">
    <img src="~/Content/imagenes/flanmixto.jpg" /> <br />

</div>

<div class="row" aling="center">
    <div class="col-md-11">
        <button class="btn btn-lg btn-block btn-default" href="guarnicion.cshtml"> FLAN CASERO CON CREMA O DULCE </button>
        <button class="btn btn-lg btn-block btn-default" > POSTRE VIGILANTE </button>
        <button class="btn btn-lg btn-block btn-default" > BUDIN DE PAN </button>
        <button class="btn btn-lg btn-block btn-default" > PORCION DE TORTA </button>

    </div>
</div>

<br />
<h3>       Bebidas</h3>
<br />
<div align="center">
    <img src="~/Content/imagenes/te.jpg" />
</div>
<div class="row" aling="center">
    <div class="col-md-11">
        <button class="btn btn-lg btn-block btn-default"> COCA-COLA 2.25 </button>
        <button class="btn btn-lg btn-block btn-default"> COCA-COLA 0.600 </button>
        <button class="btn btn-lg btn-block btn-default"> SPRITE 2.25</button>
        <button class="btn btn-lg btn-block btn-default"> SPRITE 0.600</button>
        <button class="btn btn-lg btn-block btn-default"> AGUA SIN GAS 1.50 </button>
        <button class="btn btn-lg btn-block btn-default"> AGUA SIN GAS 0.600 </button>
        <button class="btn btn-lg btn-block btn-default"> NARANJA 0.600 </button>
        <button class="btn btn-lg btn-block btn-default"> Otros Gustitos </button>

    </div>
</div>

<br />
